<div class="user-details">
  <h1>My Expertise</h1>
  <p>{{ site.user_description }}</p>
</div>
<div class="user">
  <div class="tech">
    <h2>Code</h2>
    <img src="https://api.iconify.design/logos:python.svg?height=64">
    <img src="https://api.iconify.design/logos:nodejs-icon.svg?height=64">
    <img src="https://api.iconify.design/logos:c-plusplus.svg?height=64">
    <img src="https://api.iconify.design/logos:react.svg?height=64">
    <img src="https://api.iconify.design/logos:java.svg?height=64">
    <img src="https://api.iconify.design/logos:gopher.svg?height=64">
    <p>I feel comfortable working on the front-end, going from pure CSS & HTML5 to Sass, Bootstrap or AngularJS/2+, VueJS and whatever!</p>
  </div>
  <div class="tech">
    <h2>Data & Tech</h2>
    <img src="https://api.iconify.design/logos:google-cloud-platform.svg?height=64">
    <img src="https://api.iconify.design/simple-icons:amazonaws.svg?height=64">
    <img src="https://api.iconify.design/logos-elasticsearch.svg?height=64">
    <img src="https://api.iconify.design/logos:firebase.svg?height=64">
    <img src="https://api.iconify.design/simple-icons:postgresql.svg?height=64">
    <img src="https://api.iconify.design/logos:mysql.svg?height=64">
    <p>My main development languages are Python and JavaScript, but I have worked with Java, PHP, Go and more..</p>
  </div>
  <div class="tech">
    <h2>Tools</h2>
    <img src="https://api.iconify.design/logos:archlinux.svg?height=64">
    <img src="https://api.iconify.design/logos:git-icon.svg?height=64">
    <img src="https://api.iconify.design/logos:docker-icon.svg?height=64">
    <img src="https://api.iconify.design/logos:pycharm.svg?height=64">
    <img src="https://api.iconify.design/mdi:bash.svg?height=64">
    <img src="https://api.iconify.design/simple-icons:googlechrome.svg?height=64">
    <p>Git, Gulp, Grunt, NPM, Linux, Docker, you name it, I have used a bajillion tools!</p>
  </div>
</div>
