<div class="user-details">
  <h1>About</h1>
  <p>{{ site.user_description }}</p>
</div>
<div class="user">
  <div class="tech">
    <h2>Code</h2>
    <img src="https://api.iconify.design/logos:python.svg?height=64">
    <img src="https://api.iconify.design/logos:nodejs-icon.svg?height=64">
    <img src="https://api.iconify.design/logos:c-plusplus.svg?height=64">
    <img src="https://api.iconify.design/logos:react.svg?height=64">
    <img src="https://api.iconify.design/logos:java.svg?height=64">
    <img src="https://api.iconify.design/logos:gopher.svg?height=64">
    <p>
      I'm very comfortable working with python due to it's scriptablity and ease to read on top of the huge community support available.
      I'm ok building hybrid apps with node and javascript with alot of experience in react. I've also worked in projects using java, php and go.
    </p>
  </div>
  <div class="tech">
    <h2>Data & Tech</h2>
    <img src="https://api.iconify.design/logos:google-cloud-platform.svg?height=64">
    <img src="https://api.iconify.design/simple-icons:amazonaws.svg?height=64">
    <img src="https://api.iconify.design/logos-elasticsearch.svg?height=64">
    <img src="https://api.iconify.design/logos:firebase.svg?height=64">
    <img src="https://api.iconify.design/simple-icons:postgresql.svg?height=64">
    <img src="https://api.iconify.design/logos:mysql.svg?height=64">
    <p>
      I'm very conversant with google cloud app engine both professionally and on my personal projects.
      I have average interactions with AWS mainly on Amazon Sage Maker and Robo Maker.
      Elasticsearch is my go to database for search and analysis purposes.
    </p>
  </div>
  <div class="tech">
    <h2>Tools</h2>
    <img src="https://api.iconify.design/logos:archlinux.svg?height=64">
    <img src="https://api.iconify.design/logos:git-icon.svg?height=64">
    <img src="https://api.iconify.design/logos:docker-icon.svg?height=64">
    <img src="https://api.iconify.design/logos:pycharm.svg?height=64">
    <img src="https://api.iconify.design/mdi:bash.svg?height=64">
    <img src="https://api.iconify.design/simple-icons:googlechrome.svg?height=64">
    <p>
      I'm a huge linux user, I love the control I have in my hands especially with archlinux. I'm not even above compiling my own kernel.
      Love git for version management and containers for separation of concerns. Pycharm is my favourite IDE.
    </p>
  </div>
</div>
