<div id="particles-js">
  <div class="header">
      <h1>
        <img class="site-face" src="{{ '/assets/me.jpg' | prepend: site.baseurl }}" />
        <span class="site-title">{{ site.username }}</span>
        <span class="site-description">{{ site.user_title }}</span>
      </h1>
      <div class="header-icons">
        <a aria-label="Email me@billcountry.tech" href="mailto:{{site.email}}"><i class="icon fas fa-envelope"></i></a>
        <a aria-label="Whatsapp +254728824727" target="_blank" href="https://wa.me/254728824727?text=Hi%20Bill"><i class="icon fab fa-whatsapp"></i></a>
        <a aria-label="Twitter @Billcountry" target="_blank" href="https://twitter.com/{{site.twitter}}"><i class="icon fab fa-twitter" aria-hidden="true"></i></a>
        <a aria-label="Hackerrank @Billcountry" target="_blank" href="https://hackerrank.com/{{site.hackerrank}}"><i class="icon fab fa-hackerrank" aria-hidden="true"></i></a>
        <a aria-label="LinkedIn @Billcountry" target="_blank" href="https://linkedin.com/in/{{site.linkedin}}"><i class="icon fab fa-linkedin" aria-hidden="true"></i></a>
        <a aria-label="Github @Billcountry" target="_blank" href="https://github.com/{{site.github}}"><i class="icon fab fa-github-alt" aria-hidden="true"></i></a>
      </div>
      <div class="header-links">
        <a class="link" href="#personal" data-scroll>Personal Life</a>
        <a class="link" href="#proffesional" data-scroll>Proffesional Life</a>
        <a class="link" href="#properties" data-scroll>Properties</a>
      </div>
  </div>
  <a class="down" href="#about" data-scroll><i class="icon fas fa-chevron-down" aria-hidden="true"></i></a>
</div>
