<div class="user-details">
    <h3>Personal Life</h3>
    <p>
        I have a simple life, a nerd who's always near his laptop. We're really close and we share a lot of experiences. I'll
        update you guys once I'm this close to a human being (No hard feelings).
    </p>
    <p>
        I got a humble family and some really nasty friends. They are really nice but I swear if you attack me they will roast
        you. I mean in reality they'll roast the two of us but, I'm used to it.
    </p>
    <p>
        I would really like to keep telling you about myself but I want you to like me so let's leave it at that. Otherwise you
        can always hit me up for a quick chat on the DM.
    </p>
</div>