<div class="user-details">
    <h3>Professional Life</h3>
    <p>
        These are things I do, things I plan to and things I claim to do; This list can be
        wrong; I mean long, let's just do it.

    </p>
    <b>What I do</b>
    <p>
        Currently I think I'm any other developer who's still on a swing between Javascript and python, but we shorten it to a
        fullstack developer.
    </p><p>
        Besides taking jugs and mugs of coffee, I also work as a software engineer for <a target="_blank" href="https://echomobile.io">Echo Mobile</a>, I can tell you all about it
        but I'm very sure you can follow the link.Seriously, you should
    </p><p>
        What I'm good at
        This decision is not finalized but I don't usually call myself a fan of logic not a fan of programming. Is there a
        difference? May be. Who knows anyway?
    </p><p>
        I love solving problems and instead of restricting myself to languages and platforms, I like restricting myself to the
        problem and the solutions instead Of course languages and platforms are still necessary to solve the problem so here
        goes the boasting:
    </p>
    <ul>
        <li>I'm good at HTML programming</li>
        <li>😂😂😂😂😂...</li>
    </ul>
        Sorry let me start again: 🤣
    <ul>
        <li>My first object oriented language was Visual Basic wayyy back in my high school years. I can't remember a damn thing
        about the language but the concepts I got were great and I still utilize them to date</li>
        <li>After that there was this time I was hangup on Java, then came PHP, I even told myself once that C++ was a good idea.
        (Adolescence in your twenties can really take you places)</li>
        <li>Then came down to settling down on the industry and trying to find my place in the node_modules folder of the industry.
        <li>So I became really good (stop judging not that good but now I'm really good) at Javascript and Python.</li>
        <li>Then came in the libraries, the good little helpers that can make or break your app. I became good at those too, I can't
        imagine a life without them, I mean, I can but is it worth the trouble?</li>
        <li>Anywho, Ended up loving React, I work with webapp2 everyday, flask we talk on the side. You get the gist</li>
        <li>Anyway enough about other people, this is about me. As a young developer, it always seemed easier to keep a zip backup
        on google drive compared to learning git. Boy was I wrong!.</li>
        <li>Now I'm a champion of all the words people like, git, Github, Gitlab, others, etcetera, etcetera</li>
        <li>And how can my list be complete without this. I'm a linux user, I love it.</li>
        <li>And how can i forget to recommend my favourite distro from where I'm writing this stuff.</li>
        <li>Arch Linux is the distro for all of you nerds and control freaks(sorry for the repetition) out there.</li>
        <li>Also, I went to university</li>
    </ul>
    <b>What I plan to do</b>
    <p>Go back to and study chemistry, it's really fascinating.</p>
</div>