<div class="user-details">
    <h3>Properties</h3>
    <div>Sorry to disappoint, once I own buildings I'll add them here and rename this section to
        <strong>Characteristics</strong>(<i><kbd>Coming soon!!</kbd></i>, can I hear a whoop! whoop!?).<br>Meanwhile:<ul>
            <li>I'm 5 feet 1. Just take my word for it</li>
            <li>Weigh 51kg (<i>Theoretically</i>)</li>
            <li>Near sighted so mostly on glasses</li>
            <li>Always on a t-shirt or a hoodie depending on the weather</li>
            <li>I love the forest but I'm never there</li>
            <li>I like running coz it always seems to take wayyy too long to get any where. Transporters from star trek
                can't get here soon enough.</li>
            <li>Oh yeah. I love star wars and star trek. But I love star wars more.</li>
        </ul>
    </div>
</div>